body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#main {text-align: center;border: 1px solid black;
  background-color: silver;width: 500px;margin-left: 400px;padding-bottom:20px;}

button {background-color: green;width: 120px;height: 30px;font-size: 15px;font-weight: bold;}
h2 {color: gray}
input {border-radius: 5px;box-shadow: 3px 3px 3px black;width: 200px;height: 20px;}
.ofday {background-color: red}